
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.profile-Qe3 {
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;

  .profile-95q {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #fff7d4;

    .auto-group-qdxm-Hxj {
      background-color: #ffffff;
      box-sizing: border-box;
      height: 86.8rem;
      left: 13.8rem;
      display: flex;
      flex-direction: column;
      border-radius: 4.7rem;
      padding: 5.472rem 9.3rem 0rem 9.4rem;
      width: 110.9rem;
      position: absolute;
      top: 13.5rem;
      align-items: center;

      .name--9zw {
        margin: 0rem 37.561rem 1.7rem 33.996rem;
        width: calc(100% - 71.5572rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .vector-sg3 {
          flex-shrink: 0;
          margin: 0.091rem 1.503rem 0rem 0rem;
          width: 3.1977rem;
          height: 1.6224rem;
          object-fit: contain;
          vertical-align: top;
        }
        .k-PPV {
          flex-shrink: 0;
          margin: 0rem 4.164rem 0.428rem 0rem;
          font-size: 1.3264rem;
          font-weight: 400;
          line-height: 1.2;
          color: #000000;
          font-family: Itim, 'Source Sans Pro';
          white-space: nowrap;
        }
        .ellipse-12-uMq {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.071rem 2.381rem 0rem 0rem;
          width: 0.9593rem;
          height: 0.6084rem;
          object-fit: contain;
        }
        .vector-Rqy {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.304rem 1.119rem 0rem 0rem;
          width: 2.718rem;
          height: 1.7238rem;
          object-fit: contain;
        }
        .item-60-xL7 {
          flex-shrink: 0;
          margin-bottom: 0.428rem;
          font-size: 1.3264rem;
          font-weight: 400;
          line-height: 1.2;
          color: #000000;
          font-family: Itim, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .swap-UJT {
        box-sizing: border-box;
        letter-spacing: 0.234rem;
        background-color: #4c3d3d;
        margin: 0rem 33.2rem 3.5rem 34.3rem;
        cursor: pointer;
        font-size: 1.8rem;
        white-space: nowrap;
        padding: 0.9rem 9.4rem 0rem 9.6rem;
        width: calc(100% - 67.5rem);
        line-height: 1.2;
        font-family: Itim, 'Source Sans Pro';
        border-radius: 0.5rem;
        font-weight: 400;
        color: #ffffff;
        flex-shrink: 0;
      }
      .about-sctn-K4B {
        box-sizing: border-box;
        height: 71rem;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 2.7rem 0rem 0rem 7.9rem;
        width: 100%;
        overflow: hidden;
        flex-shrink: 0;

        .about-section--e6T {
          box-sizing: border-box;
          padding-bottom: 0.4rem;
          width: 21.6rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .auto-group-pgnt-yPd {
            margin: 0rem 12.543rem 1.5rem 0rem;
            width: calc(100% - 12.5433rem);
            display: flex;
            align-items: center;

            .about-u2P {
              flex-shrink: 0;
              margin-right: 0.3425rem;
              font-size: 2.3rem;
              font-weight: 500;
              line-height: 1.175;
              color: #001029;
              font-family: Raleway, 'Source Sans Pro';
              white-space: nowrap;
            }
            .iconsax-linear-warning2-RmR {
              width: 1.5142rem;
              height: 1.6667rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0rem;
            }
          }
          .auto-group-udhh-xFZ {
            align-items: flex-start;
            margin-left: 0.1rem;
            width: calc(100% - 0.1rem);
            height: 7rem;
            display: flex;

            .icon--ghM {
              row-gap: 1.8rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.1rem 1.7rem 0rem 0rem;
              overflow: hidden;
              position: relative;

              .vector-DBV {
                width: 1.4rem;
                height: 1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .vector-ZWF {
                margin-right: 0.1rem;
                width: 1.5rem;
                height: 1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .vector-WRV {
                width: 1.6rem;
                height: 0.6rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .auto-group-jyb5-TLj {
              height: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .item-030-29843-74598-Cp7 {
                margin-bottom: 1.2rem;
                font-size: 1.3264rem;
                font-weight: 400;
                line-height: 1.2;
                color: rgba(0, 0, 0, 0.5);
                font-family: Itim, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .dubeylakshya00gmailcom-8By {
                font-size: 1.3264rem;
                font-weight: 400;
                line-height: 1.2;
                color: rgba(0, 0, 0, 0.5);
                font-family: Itim, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
              }
              .https-wwwlinkedincom-feed--SyM {
                font-family: Itim, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.3264rem;
                font-weight: 400;
                line-height: 1.2;
                color: #0038ff;
              }
            }
          }
        }
        .auto-group-xvas-AeT {
          height: 66.2rem;
          position: relative;
          flex-shrink: 0;
          width: 100%;

          .discriptiion--ify {
            width: 75.3rem;
            height: 14.2rem;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            box-sizing: border-box;
            padding-bottom: 2.3rem;

            .auto-group-grqd-2gf {
              margin: 0rem 61.243rem 2rem 0rem;
              width: calc(100% - 61.2433rem);
              display: flex;
              align-items: center;

              .discription-Myq {
                font-weight: 500;
                line-height: 1.175;
                color: #001029;
                font-family: Raleway, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.4425rem;
                font-size: 2.3rem;
              }
              .iconsax-linear-warning2-6Rd {
                margin-top: 0rem;
                width: 1.5142rem;
                height: 1.6667rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .i-am-a-highly-skilled-and-passionate-musician-with-over-8-years-of-experience-in-the-music-industry-with-a-strong-background-in-composing-and-producing-i-have-successfully-created-captivating-melodies-and-arrangements-across-various-genres-my-ability-to-connect-with-audiences-through-my-music-has-earned-me-a-solid-reputation-and-a-consistent-4-5-rating-Rio {
              max-width: 73.8rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.175;
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              margin-left: 3rem;
            }
          }
          .achievements-zvK {
            height: 54.2rem;
            position: absolute;
            left: 0;
            top: 12rem;
            overflow: hidden;
            box-sizing: border-box;
            padding-bottom: 7.6rem;
            width: 84.3rem;

            .auto-group-oycf-irK {
              height: 2.8rem;
              position: relative;
              margin-bottom: 1rem;
              width: 17.6rem;

              .achievements-U4o {
                height: 2.8rem;
                position: absolute;
                left: 0;
                color: #001129;
                font-family: Raleway, 'Source Sans Pro';
                white-space: nowrap;
                width: 16rem;
                top: 0;
                font-size: 2.3rem;
                font-weight: 500;
                line-height: 1.175;
              }
              .medal-PhZ {
                height: 2.2rem;
                position: absolute;
                left: 15.4rem;
                top: 0.5rem;
                object-fit: cover;
                vertical-align: top;
                width: 2.2rem;
              }
            }
            .released-two-successful-albums-that-garnered-positive-reviews-and-substantial-airplay-awarded-best-original-soundtrack-at-the-xyz-film-festival-for-my-composition-in-the-film-dreamscape-collaborated-with-renowned-artists-and-musicians-broadening-my-musical-horizons-vBh {
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              margin: 0rem 0rem 4.5rem 0.2rem;
              max-width: 73.4rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.4189999898;
            }
            .education--vqu {
              line-height: 1.175;
              color: #001129;
              font-family: Raleway, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1rem;
              font-size: 2.3rem;
              font-weight: 500;
            }
            .bachelor-of-arts-in-music-production-xyz-university-year-testimonials-johns-musical-talent-is-truly-exceptional-his-compositions-and-arrangements-are-soul-stirring-and-captivating-working-with-him-has-been-an-absolute-pleasure-director-abc-films-john-is-a-versatile-musician-with-incredible-technical-skills-his-attention-to-detail-and-ability-to-adapt-to-different-genres-is-remarkable-bandmate-melody-makers-band-contact-email-johnsmithexamplecom-phone-1-123-456-7890-lets-make-music-that-touches-hearts-and-resonates-with-souls-connect-with-me-to-explore-exciting-collaborations-and-projects-4SK {
              max-width: 76.7rem;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.4189999898;
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              margin: 0rem 0rem 0.8rem 0.2rem;

              .bachelor-of-arts-in-music-production-xyz-university-year-testimonials-johns-musical-talent-is-truly-exceptional-his-compositions-and-arrangements-are-soul-stirring-and-captivating-working-with-him-has-been-an-absolute-pleasure-director-abc-films-john-is-a-versatile-musician-with-incredible-technical-skills-his-attention-to-detail-and-ability-to-adapt-to-different-genres-is-remarkable-bandmate-melody-makers-band-contact-email-johnsmithexamplecom-phone-1-123-456-7890-lets-make-music-that-touches-hearts-and-resonates-with-souls-connect-with-me-to-explore-exciting-collaborations-and-projects-4SK-sub-0 {
                font-weight: 500;
                line-height: 1.4189999898;
                color: #000000;
                font-family: Raleway, 'Source Sans Pro';
                font-size: 1.5rem;
              }
              .bachelor-of-arts-in-music-production-xyz-university-year-testimonials-johns-musical-talent-is-truly-exceptional-his-compositions-and-arrangements-are-soul-stirring-and-captivating-working-with-him-has-been-an-absolute-pleasure-director-abc-films-john-is-a-versatile-musician-with-incredible-technical-skills-his-attention-to-detail-and-ability-to-adapt-to-different-genres-is-remarkable-bandmate-melody-makers-band-contact-email-johnsmithexamplecom-phone-1-123-456-7890-lets-make-music-that-touches-hearts-and-resonates-with-souls-connect-with-me-to-explore-exciting-collaborations-and-projects-4SK-sub-1 {
                color: #000000;
                font-family: Raleway, 'Source Sans Pro';
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.4189999898;
                text-decoration-line: underline;
              }
              .bachelor-of-arts-in-music-production-xyz-university-year-testimonials-johns-musical-talent-is-truly-exceptional-his-compositions-and-arrangements-are-soul-stirring-and-captivating-working-with-him-has-been-an-absolute-pleasure-director-abc-films-john-is-a-versatile-musician-with-incredible-technical-skills-his-attention-to-detail-and-ability-to-adapt-to-different-genres-is-remarkable-bandmate-melody-makers-band-contact-email-johnsmithexamplecom-phone-1-123-456-7890-lets-make-music-that-touches-hearts-and-resonates-with-souls-connect-with-me-to-explore-exciting-collaborations-and-projects-4SK-sub-2 {
                line-height: 1.4189999898;
                color: #000000;
                font-family: Raleway, 'Source Sans Pro';
                font-size: 1.5rem;
                font-weight: 500;
              }
            }
            .skills--5AP {
              line-height: 1.175;
              color: #001129;
              font-family: Raleway, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1rem;
              font-size: 2.3rem;
              font-weight: 500;
            }
            .composition-and-songwriting-music-production-and-arranging-instrumental-proficiency-guitar-piano-drums-studio-recording-and-live-performance-sound-mixing-and-mastering-collaborative-and-improvisational-skills-proficient-in-music-software-logic-pro-ableton-live-cRD {
              font-weight: 500;
              line-height: 1.4189999898;
              color: #000000;
              font-family: Raleway, 'Source Sans Pro';
              white-space: nowrap;
              margin-left: 0.3rem;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
    .navigation-bar-okb {
      position: absolute;
      top: 0.1rem;
      background-color: #b79552;
      box-sizing: border-box;
      padding: 3.1rem 19.6rem 2.3rem 29.362rem;
      width: 144rem;
      height: 10.5rem;
      left: 0;
      display: flex;
      align-items: center;
      box-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0.25);

      .ep-back-hqy {
        flex-shrink: 0;
        margin: 0rem 11.85rem 0.9rem 0rem;
        width: 2.5877rem;
        height: 2.2503rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .search--qBV {
        font-weight: 400;
        line-height: 1.2;
        font-family: Lato, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 11.4rem;
        padding: 1.6rem 27.3rem 0.5rem 25.6rem;
        height: 100%;
        background-color: #fff7d4;
        border-radius: 7.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        font-size: 2.5rem;
        color: #000000;
      }
      .search--hUb {
        margin-top: 0.1rem;
        width: 6.4rem;
        height: 4.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .name-section--1EP {
      display: flex;
      align-items: flex-start;
      width: 79.3308rem;
      height: 15rem;
      position: absolute;
      left: 36.4rem;
      top: 14.9rem;

      .mask-group-jAP {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 9.2rem;
        width: 11.2rem;
        height: 11.2rem;
      }
      .auto-group-ymcs-sGb {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 28.6rem;

        .james-smith-cV5 {
          align-items: baseline;
          flex-shrink: 0;
          font-size: 3.5rem;
          white-space: nowrap;
          display: flex;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 7.9rem;
          font-weight: 500;
          line-height: 1.2102272034;

          .james-smith-cV5-sub-0 {
            font-size: 3.5rem;
            font-weight: 600;
            line-height: 1.175;
            color: #000000;
            font-family: Raleway, 'Source Sans Pro';
          }
          .james-smith-cV5-sub-1 {
            font-size: 3.5rem;
            font-weight: 500;
            line-height: 1.175;
            color: #000000;
            font-family: Raleway, 'Source Sans Pro';
          }
        }
        .message--kjh {
          padding: 1.05rem 8.8rem 0.25rem 9rem;
          font-size: 1.3rem;
          line-height: 1.2;
          letter-spacing: 0.169rem;
          color: #000000;
          font-family: Itim, 'Source Sans Pro';
          white-space: nowrap;
          box-sizing: border-box;
          flex-shrink: 0;
          background-color: #cdcdcd;
          font-weight: 400;
          border-radius: 0.5rem;
          margin-left: 1.2rem;
        }
      }
      .vector-cmu {
        margin-top: 1.2rem;
        width: 4.4308rem;
        height: 2.1839rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
